.header {
  background-color: #000;
  color: #fff;
  padding: 0 20px;
}

.header-text {
  font-size: 16px;
  line-height: 1.19;
  padding: 0;
}

.header-mark {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.19;
  padding: 0;
  margin: 5px 0 0 -1px;
}

@media screen and (min-width: 720px) {
  .header-text {
    font-size: 21px;
  }

  .header-mark {
    font-size: 30px;

    margin: 5px 0 0 -2px;
  }
}
